@page "/hangman"
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<button class="btn btn-primary" @onclick="@OnInitAsync">Click me</button>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            {
                <tr>
                    <td>@game.GameWordToGuess</td>
                    <td>@game.GameWordHiddenLetters</td>
                    <td>@game.GameMistakes</td>
                    <td>@word[1].WordContent</td>
                </tr>
            }
        </tbody>
    </table>

@code {
Word[] word = new Word[100];

 public enum WordDifficulties
    {
        Easy,
        Meduim,
        Hard
    }

    public class Word
    {
        public int WordId { get; set; }
        public string WordContent { get; set; }
        public WordDifficulties WordDifficulty { get; set; }
        public int WordCategoryId { get; set; }
    }



Game game = new Game();

protected override async Task OnInitAsync()
{
    word = await Http.GetJsonAsync<Word[]>("https://localhost:44387/api/word");
}

class Game
{
    public string GameWordToGuess { get; set; }
    public string GameWordHiddenLetters { get; set; }
    public int GameMistakes { get; set; }
    public bool GameFinished { get; set; }
    public bool GameHintAvailable { get; set; }
}
}
